.myForm{
    background-color: #333;
    color: rgb(206, 206, 206);
    padding: 30px 60px 30px 60px;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.45);
    user-select: none;
    min-width: 370px;
}

.formControl input{
    border-radius: 5px;
    padding-left: 6px;
    height: 18px;
    font-size: 1rem;
    max-width: 190px;
}

.formControl{
    min-width: 300px;
    margin-bottom: 10px;
    display: flex;

    align-items: flex-end;
    justify-content: space-between;
}

.formHeader{
    font-size: 2rem;
    color: white;
    text-align: start;
}

.forgotPassword{
    color: rgb(159, 170, 254);
    font-size: 0.8rem;
}

.forgotPassword:visited{
    color: rgb(159, 170, 254);

}

.btnWrapper{
    text-align: center;
}

.formSelect{
    font-size: 1rem;
    padding-left: 6px;
    min-width: 141px;
    border-radius: 5px;
}

.formBtn{
    margin-top: 15px;
    font-size: 1.2rem;
    height: 34px;
    width: 100px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
    border: none;
    border-radius: 4px;
}

.formBtn:hover{
    background-color: rgb(169, 227, 169);
}
