.letterWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
}

.letter{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 0.5rem;
    text-align: center;
    padding: 0;
}

/* .searchBox{
    position: absolute;
    left: 0;
} */